
@import url(styles.css);


body{
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
}

.main-about{
    padding: 1rem 3rem;
    background-color: var(--background-color);
}


h2{
    font-family: var(--font-family-primary);
    font-size: var(--h1-size);
    color: #ff9933;
    text-align: center;
}
.h1-about {
    color: green;
}
.about{
    font-family: var(--font-family-primary);
    font-size: var(--paragraf-size);
    color: white;
}
p{
    font-family: var(--font-family-primary);
    font-size: var(--paragraf-size)
}

section{
    padding: 0rem 3rem;
}

.musician1, .musician2, .musician3{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 5% 5%;
    background-image: linear-gradient(#ff9933, var(--accent-color),#3398ff);
    border-radius: 3rem;
}
h2{
    font-family: var(--font-family-primary);
    font-size: 1.5rem;
}
h3{
    font-family: var(--font-family-primary);
    font-size: 1rem;
}

.footer{
    width: 100%;
}

iframe{
    border-style: none;
    height: 100%;
}