
.main, .musicianContainer{
    padding: 1rem 15rem 4rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notas{
    width: 30%;
}

.titleAbout{
    font-family: var(--font-family-primary);
    font-size: var(--h1-size);
    color: var(--primary-color);
    text-align: center;
}

.textAbout{
    font-family: var(--font-family-tertiary);
    font-size: var(--paragraf-size);
    color: white;
    padding: 1rem 0;
}

.musicianCard img{
    width: 10rem;
    border-radius: 100px;
    margin-right: 50px;
}

.musicianCard{
    width: 100%;
    margin-bottom: 5rem;
    padding: 3rem;
    background-image: linear-gradient(var(--primary-color), var(--accent-color),var(--secondary-color));
    border-radius: 3rem;
    display: flex;
    align-items: start;
}

.musicianName{
    font-family: var(--font-family-primary);
    font-size: var(--h3-size);
    color: black;
}

.textBio{
    font-family: var(--font-family-tertiary);
    font-size: var(--paragraf-size)
}

@media (width<430px){
    .main, .musicianContainer{
        padding: 1rem;
    }

    .notas{
        width: 50%;
    }
    .titleAbout{
        font-size: var(--h3-size);
    }

    .textAbout, .textBio{
        font-size: 0.75rem;
    }

    .musicianCard img{
        width: 5rem;
        height: 5rem;
        margin: 0;
        margin-bottom: 1rem;
    }

    .musicianCard{
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .musicianName{
        font-size: var(--paragraf-size);
    }

}