
header{
    background: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    Position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo img{
    height: 7rem;
}

.navLink{
	padding: 0 16px;
}

.navBar{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

header > div {
	margin: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header a {
	text-decoration: none;
    font-family: var(--font-family-primary);
    font-size: var(--h2-size);
    color: var(--text-color);
}

header a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 4px;
}

.menuIcon, .closeIcon{
    background-color: #121212;
    font-size: 3rem;
}

.openBtn, .closeBtn{
    display: none;
    color: white;
    padding: 0;
    border: none;
}

nav{
    display: flex;
} 

@media (width<500px){
    .logo img{
        height: 5em;
    }
}

@media (width>400px){
    header {
        height: 5em;
    }
}

@media (width<800px){

    .openBtn, .closeBtn{
        display: block;
    }

    nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        gap: 1rem;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(65, 65, 65, 0.5);
        background-color: #121212;
    }


    .closeIcon, header a{
        font-size: 1.5rem;
    }

    .navBar{
        flex-direction: column;
    }

    nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .openBtn.hidden{
        opacity: 0;
        visibility: hidden;
    }

}






