* { 
    box-sizing: border-box; 
} 

body {  
    background: var(--background-color);    
}   

/* HOME */  

.hero-section { 
    height: 100vh;  
    padding: 32rem 0;  
    padding-left: 150px; 
    background: var(--background-color);
    background-image: url(../imgs/heroImg.png); 
    background-size: contain;   
    background-position: bottom right; 
    background-repeat: no-repeat;       
}   

h1 {    
    font-family: var(--font-family-primary);    
    color: var(--text-color);   
    font-size: var(--h2-size);  
}   

.for-everyone-text {    
    font-family: var(--font-family-secondary);  
    color: var(--primary-color);    
    font-size: var(--subtitle-size);    
}   

.more-information-text {    
    font-family: var(--font-family-secondary);  
    color: var(--accent-color); 
    font-size: var(--subtitle-size);    
}   

main {  
    display: flex;  
    flex-direction: column; 
    justify-content: center;    
    text-align: center; 
    align-items: center;    
    background: linear-gradient(    
        180deg,
        #3a76b7,
        #121212,
        #121212,
        #121212,
        #121212);
}   

#carrousel {
    display: none;
}
.musicians-section {    
    width: 80%; 
    padding: 15%;   
    color: azure;   
    display: flex;  
    flex-direction: row;    
    gap: 120px; 
    justify-content: center;    
}   
    
    .musician-card {
    width: 20%; 
    height: auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-family: var(--font-family-primary); 
    }

    .musician-card img {
    width: 120px; 
    border-radius: 200px; 
    }

    .musician-card h3, .musician-card h4, .musician-card p {
    margin: 0; 
    } 

    .nameMusician{
    color: white; 
    }

    .display-instruments {
    width: 80%;
    gap: 50px; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 150px 0; 
    }

    .display-instruments button{
    border-radius: 10px; 
    width: 200px; 
    height: 40px; 
    background-color: var(--primary-color); 
    box-shadow: 0 4px 4px 0 rgba(255, 153, 51, 0.50); 

    }

    .instrument-card {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-evenly; 
    width: 100%; 
    height: 450px; 
    background: linear-gradient(180deg, #121212, #3a76b7,#121212);
    } 

    .card-instrument-image {
        width: 350px;
    }

    main h2 {
    color: var(--primary-color);
    font-family: var(--font-family-primary); 
    font-size: var(--h1-size);
    margin: 0;
    }
    
    main h4 {
    color: var(--secondary-color);
    font-family: var(--font-family-secondary);
    font-size: var(--h3-size);
    padding: 0;
    }
    
    .display-instruments h3, h2 {
    color: var(--primary-color); 
    font-family: var(--font-family-primary); 
    font-size: var(--h2-size); 
    } 
    
    .navLink { 
    padding: 0 16px; 
    } 

    .navBar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    }
    
    
#carousel-display {
    display: none;
}
    
    
    
    
    
    
            /* pantalla mobile init */

            @media screen and (max-width: 430px) {


                .hero-section { 
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    background-image: url(../imgs/heroImgMobile.png); 
                    background-size: contain;   
                    background-position: right; 
                    background-repeat: no-repeat;   
                    padding: 10rem 2rem; 
                    /* padding-top: 7rem;    */
                } 

                h1 {    
                    font-family: var(--font-family-primary);    
                    color: var(--text-color);   
                    font-size: var(--subtitle-size); 
                    font-weight: 900;
                }  

                .try-your-self {
                    font-family: var(--font-family-tertiary);
                    font-size: 20px;
                    font-weight: 400;
                }

                .display-instruments {
                    display: flex;
                    flex-direction: column;
                }

                .instrument-card {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    }

                .instrument-card img{
                    width: 50%;
                    height: auto;
                }
                .instrument-card a {
                    padding: 2rem;
                }

                .display-instruments button {
                    width: 120px;
                    height: 40px;
                }

                .musicians-section {
                    display: none;
                }

                #carousel-display {
                    display: block;
                }

            }

            /* pantalla mobile  end */
