/* *{
    border: 1px solid red;
} */

.title{
    margin: 0;
    padding: 0;
}

h4{
    color: var(--secondary-color);
    font-size: var(--h3-size);
    font-family: var(--font-family-secondary);
    font-style: italic;
    text-align: center;
}

.instDesc{
    color: white;
    font-family: var(--font-family-tertiary);
    padding-left: 50px;
}

.container{
    margin: 2rem 0;
    display: flex;
    width: 100%;
    padding: 0 3rem 3rem 3rem;
}

h2{
    color: var(--primary-color);
    font-size: var(--h2-size);
    text-align: center;
}

#btn{
    display: flex;
    flex-direction: column;
}
.playButton{
    width: 200px;
    padding: 0.5rem 2rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    margin: auto;
    margin-bottom: 1rem;
    font-weight: 700;
    box-shadow: 2px 2px 8px var(--primary-color);
}

.instrumentsContainer{
    display: block;
    background-image: linear-gradient(rgb(18,18,18), #273c52, rgb(18,18,18));
    padding-top: 2rem;
    margin: 2rem 0rem;
    background-blend-mode: lighten;
}
