.instruments-page {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.instruments-page h2 {
    color: var(--primary-color);
    font-family: var(--font-family-primary);
    font-size: var(--h1-size);
    margin: 0;
}

.instruments-page h4 {
    color: var(--secondary-color) ;
    font-family: var(--font-family-secondary);
}
.display-instruments {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.instrument-card-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 640px;
    background: linear-gradient(180deg, #121212,#121212, #3a76b776,#121212,#121212);
}

.article-contain {
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    width: 45%;
    /* justify-content: ; */
}

.article-contain p{
    margin-left: 30px ;
    font-size: var(--paragraf-size);
}