
.titleInstruments, .instrumentsBox{
    margin: 0;
    padding: 0;
}

.schoolTitle{
    color: var(--primary-color);
    font-size: var(--h1-size);
    text-align: center;
}

h4{
    color: var(--secondary-color);
    font-size: var(--h3-size);
    font-family: var(--font-family-secondary);
    font-style: italic;
    text-align: center;
}

.instrumentName{
    color: var(--primary-color);
    font-size: var(--h2-size);
    text-align: center;
}

.instrumentsBox{
    background-image: linear-gradient(rgb(18,18,18), #273c52, rgb(18,18,18));
    /* padding: 5rem 10rem; */
    margin-bottom: 2rem;
}

.contenedor{
    width: 60rem;
    margin: auto;
    padding: 5rem 0;
}

.instrumentImg{
    width: 25rem;
    height: auto;
}

.descriptionBox{
    width: 100%;
    display: flex;
    align-items: start;
    margin-top: 2rem;
}

.textDescription{
    margin: 0 0 1rem 2rem;
    color: white;
    font-family: var(--font-family-tertiary);
    font-size: var(--paragraf-size);
}

.btnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playButton{
    width: 10rem;
    padding: 0.5rem 2rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: var(--paragraf-size);
    box-shadow: 2px 2px 8px var(--primary-color);
}

.playButton a{
    text-decoration: none;
    color: black;
    
}

@media (600px < width < 1200px){
    .instrumentsBox{
        padding: 1.5rem;
    }

    .contenedor{
        width: 100%;
        padding: 3rem 0;
    }

    .instrumentImg{
        width: 16rem;
        height: auto;
    }

    .schoolTitle{
        font-size: var(--h2-size);
    }
    
    .instrumentName{
        font-size: var(--h3-size);
    }

    .textDescription{
        font-size: 0.9rem;
    }

}

@media (width<600px){

    .titleInstruments, .instrumentsBox{
        padding: 2rem 0;
    }

    h4{
        margin: 2rem 0;
    }

    .instrumentsBox{
        padding: 1.5rem;
    }
    
    .contenedor{
        width: 100%;
        padding: 0;
    }

    .instrumentImg{
        width: 15rem;
        margin: auto;
        margin-bottom: 2rem;
    }

    .descriptionBox{
        display: flex;
        flex-direction: column;
    }

    .textDescription{
        margin: 0;
    }
    .schoolTitle{
        font-size: var(--h2-size);
    }
    
    .instrumentName{
        font-size: var(--h3-size);
    }

    .playButton{
        margin: 2rem;
    }
}