/*  LOS ESTILOS DE styles.css SE APLICAN DE MANERA GLOBAL EN TODAS LAS PAGES    */

:root {
    --primary-color: #ff9933;
    --secondary-color: #3398ff;
    --tertiary-color: #121212;
    --font-family-primary: 'khand', sans-serif;
    --font-family-secondary: 'Merriweather', sans-serif;
    --font-family-tertiary: 'Montserrat', sans-serif;
    --h1-size: 3rem;
    --h2-size: 2.25rem;
    --h3-size: 2rem;
    --sub-title: 1.5rem;
    --paragraf-size: 1rem;
}


/* Ejemplos de cómo utilizar las clases globales 

body {
    font-family: var(--font-family-tertiary);
    font-size: var(--paragraf-size);
    color: var(--primary-color)
} 

h1 {
    font-family: var(--font-family-primary);
    font-size: var(--h1-size);
} 

/ */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--tertiary-color);
    font-family: 'Montserrat', sans-serif;
}

footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background-color: var(--primary-color);
	padding: 16px;
    font-weight: 600;
}

.icon_rrss {
	display: flex;
    justify-content: center;
	list-style-type: none;
    padding: 0;
    margin: 0;
}

footer img{
    height: 32px;
    padding: 8px;
}

.info_footer{
	display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    display: flex;
    align-items: center;
    margin: 0;
}
